.body{
    height: 2100px;
    background-color: rgba(99, 181, 37, 0.735);
}

.fullbody{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.fixhead{
    height: 60px;
    background-color: rgb(107, 141, 244);
    color: rgb(166, 233, 31);
    text-align: center;
    font-size: 50px;
    border-radius: 100px;
    position: fixed;
    margin-right: 10px;
    margin-left: 72px;
    width: 92%;
}

.fixhead:hover{
    background-color: rgb(166, 233, 31);;
    color: rgb(107, 141, 244);
    border-radius: 50px;
    width: 68%;
    margin-left: 18%;
    transition: 2s;
}

.fixside{
    height: 100%;
    width: 70px;
    position: fixed;
    background-color: rgb(47, 47, 143);
    border-radius: 150px;
    display: grid;
    grid-template-rows: 145px 145px 120px 120px;
}
.fixside:hover{
    background-color: rgb(255, 88, 249);
    transition: 2s;
}

.button1{
    height: 70px;
   margin-top: 10px;
    margin-left: 10px;
    
}

.button2{
    margin-left: 10px;
    height: 70px;
}

.button3{
    margin-left: 10px;
    height: 70px;
}

.button4{
    margin-left: 10px;
    height: 70px;
    margin-bottom: 20px;
    
}

.img1{
    height: 50px;
    border-radius: 100%;
}
.img2{
    height: 50px;
    border-radius: 90%;
    object-fit: contain;
}
.img3{
    height: 50px;
    border-radius: 100px;
    
}

.data{
    margin-top: 40px;
}
.datah{
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
}
.datah:hover{
    background-color: rgba(67, 126, 22, 0.735);
    transition: 2.5s;
    color: aqua;
    border-radius: 250px;
    width: 42%;
    margin-left: 80px;
    padding-top: 15px;
    height: 50px;
}

.datad{
    margin-top: 0px;
    font-size: 20px;
}

.datad:hover{
    background-color: rgba(0, 0, 0, 0.517);
    transition: 2.5s;
    color: rgb(254, 251, 248);
    
}

.topic{
    margin-left: 70px;
    font-size: 35px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0px;
    color: white;
}

.info{
    font-size: 25px;
    background-color: rgb(7, 6, 6);
    margin-top: 0px;
    color: rgb(232, 225, 225);
    padding-top: 10px;
    padding-bottom: 0px;
    height: 70px;
    margin-bottom: 0px;
}
.add{
    font-size: 35px;
    background-color: rgb(18, 16, 16);
    margin-top: 0px;
    color: rgb(174, 171, 171);
    height: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
}
.addd{
    font-size: 25px;
    margin-top: 0px;
    background-color: rgb(33, 29, 29);
    color: rgb(144, 141, 141);
    padding-top: 10px;
    height: 190px;
    margin-bottom: 0px;
}
.bh{
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(61, 54, 54);
    color: rgb(24, 23, 23);
    padding-top: 20px;
    height: 70px;
}
.bhd{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(95, 86, 86);
    color: rgb(0, 0, 0);
    padding-top: 20px;
    height: 

}

.lali:hover{
    transition: 3s;
    .topic{
        background-color: rgb(95, 86, 86);
    color: rgb(0, 0, 0);
    transition: 3s;
    }
    .info{
        background-color: rgb(61, 54, 54);
    color: rgb(24, 23, 23); 
    transition: 3s;
    }
    .add{
        background-color: rgb(33, 29, 29);
    color: rgb(144, 141, 141);
    transition: 3s;
    }
    .addd{
        background-color: rgb(18, 16, 16);
    color: rgb(174, 171, 171); 
    transition: 3s;
    }
    .bh{
        background-color: rgb(7, 6, 6);
    color: rgb(232, 225, 225);
    transition: 3s;
    }
    .bhd{
        background-color: rgb(0, 0, 0);
        color: white;
        transition: 3s;
    }
}



.lk{
    background-color:  rgb(240, 246, 63);
    height: 450px;
}
.lk:hover{
    background-color:  rgb(118, 122, 20);
    transition: 3s;
}

.links{
    font-size: 40px;
    margin-left: 16px;
    margin-top:0px;
    color:
    rgba(35, 34, 34, 0.583);
    margin-bottom: 0px;
}

.link{
    font-size: 30px;
    color: rgba(35, 34, 34, 0.583);
    margin-left: 16px;
    margin-top:0px;

}
.links:hover{
color: white;
transition: 3s;
}
.link:hover{
    color: white;
    transition: 3s;
}

.click{
    height: 30px;
    border-radius: 100px;
}

.last{
    background-color: gray;
    height: 250px;
}

.lastin{
    margin-top: 35px;
    text-align: center;
}
.lastout{
 text-align: center;
}

.lastp{
    margin-top: 90px;
    margin-left: 80px;
    font-size: 20px;
}

.last:hover{
    .lastp{
        margin-top: 70px;
    margin-left: 250px;
    font-size: 40px;
    transition: 4s;
    }
}